<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="headline large"><%= link_to "General Potter Farm", "http://generalpotterfarm.com/" %></h1>

    <%= image_tag 'general_potter_farm.jpg' %>

    <p>The <%= link_to "General Potter Farm", "http://generalpotterfarm.com/" %> is a renovated, 2-story <%= link_to "bank barn", "http://en.wikipedia.org/wiki/Bank_barn" %>, built in the 1830s.</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h2>Afar</h2>

        <h5>State College Airport</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dolor dui, bibendum quis adipiscing vel, condimentum sit amet eros. Integer auctor lacinia pretium</p>

        <h5>Pitsburgh Airport</h5>
        <p>In nibh erat, tincidunt nec sodales a, suscipit non tortor. Suspendisse vestibulum, sapien in posuere posuere, erat nunc feugiat leo, vitae varius tellus dui nec ipsum</p>

        <h5>Philadelphia Airport</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dolor dui, bibendum quis adipiscing vel, condimentum sit amet eros. Integer auctor lacinia pretium</p>

    </div>
    <div class="span-one-third">
        <h2>Close</h2>

        <h5>From the East</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus dolor dui, bibendum quis adipiscing vel, condimentum sit amet eros. Integer auctor lacinia pretium</p>

        <h5>From the West</h5>
        <p>In nibh erat, tincidunt nec sodales a, suscipit non tortor. Suspendisse vestibulum, sapien in posuere posuere, erat nunc feugiat leo, vitae varius tellus dui nec ipsum</p>

    </div>
    <div class="span-one-third">
        <h2>Local</h2>
        <p>In nibh erat, tincidunt nec sodales a, suscipit non tortor. Suspendisse vestibulum, sapien in posuere posuere, erat nunc feugiat leo, vitae varius tellus dui nec ipsum</p>

    </div>
</div>

<br />
<br />

<div class="row">
    <div class="center">
        <iframe width="500" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=57.161276,96.679688&amp;vpsrc=6&amp;ie=UTF8&amp;hq=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=85072289478619882&amp;ll=40.809002,-77.629395&amp;spn=0.062366,0.109863&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>

        <br/>

        <small><a class="right" href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=57.161276,96.679688&amp;vpsrc=6&amp;ie=UTF8&amp;hq=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=85072289478619882&amp;ll=40.809002,-77.629395&amp;spn=0.062366,0.109863&amp;z=13&amp;iwloc=A">View Larger Map</a></small>

    </div>

</div>
