<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="headline large">General Potter Farm</h1>

    <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=57.161276,96.679688&amp;vpsrc=6&amp;ie=UTF8&amp;hq=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=85072289478619882&amp;ll=40.809002,-77.629395&amp;spn=0.062366,0.109863&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>

    <br />

    <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=57.161276,96.679688&amp;vpsrc=6&amp;ie=UTF8&amp;hq=General+Potter+Farm,+2843+General+Potter+Highway,+Potters+Mills,+PA+16875&amp;hnear=&amp;radius=15000&amp;t=m&amp;cid=85072289478619882&amp;ll=40.809002,-77.629395&amp;spn=0.062366,0.109863&amp;z=13&amp;iwloc=A" >View Larger Map</a></small>


</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h2>From Afar</h2>

        <p>It will be easiest to fly into State College, PA's airport.  Other airports include Pittsburgh and Philadelphia,
        both of which are roughly a three hour drive from State College.</p>

    </div>
    <div class="span-one-third">
        <h2>From Delaware</h2>

        <p>General Potter Farm in Potter's Mill, PA.  Potter's Mill is just outside of State College, PA.
        Click here if you need directions.</p>

    </div>
    <div class="span-one-third">
        <h2>From State College</h2>

        <p>April 28th 2012.  Ceremony starts at 7pm.  Reception starts at 8pm.</p>

    </div>
</div>

