<div id="content">
    <h1 id="headline">amanda <span class="highlight">&</span> eric</h1>
    <h2 id="subline">general potter farm in state college, pa
        <span class="highlight">&bull;</span>
        04 28 2011
    </h2>
</div>
