<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="headline large">amanda <span class="highlight">&amp;</span> eric</h1>

    <%= image_tag '1abw.jpg' %>

    <p>&quot;Love is a canvas furnished by nature and embroidered by imagination.&quot; -Voltaire </p>

</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h2>What</h2>

        <p>We're getting married!  That's right folks, it's time to put your dancin' shoes on.</p>

    </div>
    <div class="span-one-third">
        <h2>Where</h2>
        <p>We will be holding the ceremony and reception at General Potter Farm in Potters Mills, PA.  Potters Mills is just outside of State College, PA.</p>

    </div>
    <div class="span-one-third">
        <h2>When</h2>
        <p>April 28th 2012.  Ceremony starts at 6:30pm.  Reception starts at 8pm.</p>

    </div>
</div>

