<div id="content">
    <h1 id="headline">amanda <span class="highlight">&</span> eric</h1>
    <h2 id="subline">
        <%= link_to "general potter farm", 'http://generalpotterfarm.com/' %>
        outside of
        <%= link_to "state college, pa", 'http://g.co/maps/ktpbp' %>
        <span class="highlight">&bull;</span>
        04 28 2012
    </h2>
</div>
