<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="headline large">amanda <span class="highlight">&amp;</span> eric</h1>

    <%= image_tag '1abw.jpg' %>

    <p>&quot;Love is a canvas furnished by nature and embroidered by imagination.&quot; -Voltaire </p>

</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h2>What</h2>

        <p>We're getting married!  That's right folks, it's time to put on your dancin' shoes.</p>

    </div>
    <div class="span-one-third">
        <h2>Where</h2>

        <p>General Potter Farm in Potter's Mill, PA.  Potter's Mill is just outside of State College, PA.
        Click here if you need directions.</p>

    </div>
    <div class="span-one-third">
        <h2>When</h2>

        <p>April 28th 2012.  Ceremony starts at 7pm.  Reception starts at 8pm.</p>

    </div>
</div>

